<div class="container">
	<div class="contains max-container">
		<div class="link">
			<h5>Suivez-nous sur les réseaux</h5>
			<div class="img">
				<img src="https://zupimages.net/up/20/44/2gxh.png" class="facebook">
				<img src="https://zupimages.net/up/20/44/tf3f.png" class="linkedin">
				<img src="https://zupimages.net/up/20/44/zdgx.png" class="instagram">
				<img src="https://zupimages.net/up/20/44/vfr3.png" class="twitter">
				<img src="https://zupimages.net/up/20/44/t6h6.png" class="youtube">
    </div>
			</div>
			<div class="plan">
				<h5>Plan du site</h5>
				<ul>
					<li>Acceuil</li>
					<li>Notre histoire</li>
					<li>Ambassadeur</li>
					<li>Blog</li>
				</ul>
			</div>
			<div class="mention">
				<h5>Mentions légales</h5>
				<ul>
					<li>Politique de confidentialité</li>
					<li>Conditions générales</li>
					<li>Utilisation des cookies</li>
				</ul>
			</div>
			<div class="help">
				<h5>Besoin d’aide?</h5>
				<ul>
					<li>Contact</li>
				</ul>
			</div>
		</div>

	</div>
	<div class="blue">
		<p class="socrate">Socrate 2019 - Tous droits réservés</p>
		<p class="lang">Français</p>
		<span class="arrow up"></span>
	</div>