.container {
  top: 4676px;
  left: 0px;
  width: 100%;
  height: 268px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}
h5 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-004680);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #004680;
  opacity: 1;
}
.link {
  top: 0;
  left: 252px;
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
}
.link > h5 {
  margin: 0;
}
.img {
  display: flex;
  flex-direction: row;
}
img {
  top: 0;
  width: 28px;
  height: 28px;
  background: var(--unnamed-color-fd830d) 0% 0% no-repeat padding-box;
  background-color: #fd830d 0% 0% no-repeat padding-box;
  opacity: 1;
}
.facebook {
  margin: 8px 20px 92px 0;
}
.linkedin {
  margin: 8px 27px 92px 0;
}
.instagram {
  margin: 8px 20px 92px 0;
}
.twitter {
  margin: 8px 20px 92px 0;
}
.youtube {
  margin: 8px 34px 92px 0;
}
.plan {
  top: 0;
  width: 100%;
  height: 156px;
  opacity: 1;
  margin: 0px 744px 40px 540px;
  position: absolute;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal normal 16px/32px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.mention {
  top: 0;
  left: 732px;
  width: 240px;
  height: 156px;
  opacity: 1;
  position: absolute;
}
.help {
  top: 0;
  left: 1020px;
  width: 188px;
  height: 60px;
  opacity: 1;
  position: absolute;
}
.blue {
  top: 4912px;
  left: 0px;
  width: 100%;
  height: 32px;
  background: var(--unnamed-color-004680) 0% 0% no-repeat padding-box;
  background: #004680 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}
.socrate {
  width: 283px;
  height: 12px;
  font: var(--unnamed-font-style-normal) normal normal 12px/18px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 12px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  margin: 8px 1001px 12px 156px;
}
.lang {
  top: 0;
  width: 59px;
  height: 15px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  margin: 8px 194.12px 9px 1186.88px;
}
.arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  top: 10.73px;
  left: 1264px;
  width: 20px;
  height: 11px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
