.container {
  width: 1128px;
  height: 268px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.contains {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}
h5 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-004680);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #004680;
}
.link {
  height: 64px;
  margin-top: 40px;
}
.img {
  display: flex;
  flex-direction: row;
}
img {
  width: 28px;
  height: 28px;
  background: var(--unnamed-color-fd830d) 0% 0% no-repeat padding-box;
  background-color: #fd830d 0% 0% no-repeat padding-box;
}
.facebook {
  margin: 8px 20px 92px 0;
}
.linkedin {
  margin: 8px 27px 92px 0;
}
.instagram {
  margin: 8px 20px 92px 0;
}
.twitter {
  margin: 8px 20px 92px 0;
}
.youtube {
  margin: 8px 34px 92px 0;
}
.plan {
  width: 156px;
  height: 156px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal normal 16px/32px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
.plan,
.mention,
.help {
  margin-top: 40px;
}
.mention {
  width: 240px;
  height: 156px;
}
.help {
  width: 188px;
  height: 60px;
}
/* barre en bas */
.blue {
  width: 1128px;
  height: 32px;
  background: var(--unnamed-color-004680) 0% 0% no-repeat padding-box;
  background: #004680 0% 0% no-repeat padding-box;
}
.socrate {
  width: 283px;
  height: 12px;
  font: var(--unnamed-font-style-normal) normal normal 12px/18px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 12px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 11%;
}
.lang {
  width: 59px;
  height: 15px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 83%;
}
.arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 20px;
  height: 11px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-left: 87%;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
