:host {
  display: flex;
  background-image: url(https://nsa40.casimages.com/img/2020/10/29/201029010027610376.png);
  width: 100%;
  height: 680px;
  margin: 0;
}
.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #004680;
  opacity: 0.3;
}
.max-container {
  width: 100%;
  margin: auto;
}
.header-text {
  z-index: 1;
  position: relative;
  color: white;
  width: 568px;
}
h1 {
}
p {
}
