// :root {
/* Colors: */
/*--unnamed-color-333333: #333333;
  --unnamed-color-fd830d: #fd830d;
  --unnamed-color-004680: #004680;
  --ffb448: #ffb448; */

/* Font/text values */
/*--unnamed-font-family-montserrat: Montserrat;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-32: 32px;
  --unnamed-text-transform-uppercase: uppercase;
} */

/* Character Styles */
/*.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-004680);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-004680);
} */
