<div class="container">
	<div class="image-background">
		<div class="floating-container">
			<h4>Valorisez vos savoirs</h4>
			<p>Créez, partagez et contribuez au développement de l’intelligence collective. Mais pas que, vous
				pouvez
				acquérir de nouvelles connaissances grâce à tous les autres membres qui, comme vous, mettent leur
				savoir
				encommun au profit de tous.
				Disciple ou Mentor, vous participez en suivant ou en donnant des sessions mentoring et/ou publiques
				dans
				les
				domaines que vous souhaitez.
				« On n’a jamais fini d’apprendre »</p>
		</div>
	</div>