<div class="container">
	<div class="content">
		<img src="https://nsa40.casimages.com/img/2020/10/29/201029010027899200.png" />
	</div>
		<div class="contain">
			<div class="text">
				<h4>Valorisez vos savoirs</h4>
				<p>Créez, partagez et contribuez au développement de l’intelligence collective. Mais pas que, vous
					pouvez
					acquérir de nouvelles connaissances grâce à tous les autres membres qui, comme vous, mettent leur
					savoir
					encommun au profit de tous.
					Disciple ou Mentor, vous participez en suivant ou en donnant des sessions mentoring et/ou publiques
					dans
					les
					domaines que vous souhaitez.
					« On n’a jamais fini d’apprendre »</p>
			</div>
		</div>
	</div>