.contains {
  top: 1448px;
  left: 0px;
  width: 1440px;
  height: 768px;
  opacity: 1;
}
.content {
  top: 1644px;
  left: 732px;
  width: 489px;
  height: 377px;
  position: absolute;
}
.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    52px/76px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal bold 52px/76px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
p {
  font: var(--unnamed-font-style-normal) normal normal 18px/28px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal normal 18px/28px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
