<div class="contains">
	<div>
	</div>
	<div class="content">
		<h2 class="title">Devenez disciple</h2>
		<p>Par défaut, tous les utilisateurs sont disciples. à partir de votre profil, vous avez accès à tout les
			mentors et aux sessions publiques proposées par la communauté. L’acquisition de connaissances est l’essence
			même de Socrate. Dans une démarche d’amélioration des connaissances personnelles et/ou professionnelles,
			Socrate prône l’interaction humaine.</p>
		<button></button>
	</div>
</div>