.container {
  top: 2984px;
  left: 0px;
  width: 1366px;
  height: 768px;
  position: absolute;
}
.content {
  width: 708px;
  height: 768px;
  background-image: url("img/Video.png");
  background-size: 100%;
}
.contains {
  top: 250px;
  left: 732px;
  width: 564px;
  height: 268px;
  position: absolute;
}
h4 {
  width: 563px;
  height: 76px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    52px/76px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal bold 52px/76px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
p {
  width: 552px;
  height: 168px;
  font: var(--unnamed-font-style-normal) normal normal 18px/28px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
  text-align: left;
  font: normal normal normal 18px/28px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}
