.text {
  display: flex;
  flex: 1;
  justify-content: center;
}
.primary-btn {
  background: red;
  color: white;
  cursor: pointer;
  display: inline-flex;
  border-radius: 3px;
  outline: 0;
  padding: 10px 20px 10px 20px;
}
.secondary-btn {
  background: grey;
  color: white;
  cursor: pointer;
  display: inline-flex;
  border-radius: 3px;
  outline: 0;
  padding: 10px 20px 10px 20px;
}
.warning-btn {
  background: green;
  color: white;
  cursor: pointer;
  display: inline-flex;
  border-radius: 3px;
  outline: 0;
  padding: 10px 20px 10px 20px;
}
