<div class="container">
	<div class="content">
		<h4 class="title">Notre service</h4>
		<div class="contains">
			<div class="mentor">
				<i class="fas fa-money-check"></i>
				<h6>Mentoring de qualité</h6>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore
					et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
				<button></button>
			</div>
			<div class="event">
				<img src="" class="icon"/>
				<h6>évènements en ligne</h6>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore
					et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
					rebum. Stet clita</p>
				<button></button>
			</div>
			<div class="payement">
				<h6>Paiements sécurisés</h6>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore
					et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
					rebum. Stet clita</p>
			</div>
		</div>
	</div>
</div>