div {
  height: 64px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #026eb533;
  opacity: 1;
  margin: 0;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  opacity: 1;
  margin: 0;
  width: 100%;
}
img {
  top: 16px;
  left: 156px;
  width: 135px;
  height: 32px;
  background: transparent url("img/Logo Ligne bleu sans fond.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.NI {
  top: 20px;
  left: 638px;
  width: 128px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-fd830d);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #fd830d;
  opacity: 1;
}
.AM {
  top: 20px;
  left: 798px;
  width: 128px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-fd830d);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #fd830d;
  opacity: 1;
}
.BL {
  top: 20px;
  left: 958px;
  width: 44px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-fd830d);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #fd830d;
  opacity: 1;
}
.CO {
  top: 20px;
  left: 1034px;
  width: 72px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px/26px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-fd830d);
  text-align: left;
  font: normal normal bold 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #fd830d;
  opacity: 1;
}
